<div class="topnav">
  <ng-container *ngFor="let btn of searchHistory | async">
    <a *ngIf="btn" (click)="researchItem(btn.value)">
      Searched for: "{{btn.value}}" ({{btn.entity}})
    </a>
  </ng-container>
  <ng-template [ngIf]="searchForm.errors">
    <ng-container *ngFor="let item of searchForm.errors | keyvalue">
      {{item.value}}
    </ng-container>
  </ng-template>
  <div class="search-container">
    <form [formGroup]="searchForm" (ngSubmit)="searchEntity()">
      <input formControlName = "searchInput" type="text" placeholder="Search..">
      <button type="button" (click)="initSearchHistory()"><i class="fa fa-close"></i>Clear History</button>
      <button type="submit" [disabled]="!searchForm.valid"><i class="fa fa-search"></i> Search</button>
    </form>
  </div>
</div>
