<div class="flex">
  <div class="searchResults">
      <ng-container *ngFor="let btn of searchHistory | async">
        <button *ngIf="btn" mat-button mat-raised-button class="history" (click)="researchItem(btn)">
          Searched for: {{btn}}
        </button>
      </ng-container>
  </div>
  <div class="searchInput">
    <form [formGroup]="searchForm" (ngSubmit)="searchEntity()">
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input formControlName = "searchInput" matInput type="text">
      </mat-form-field>
      <button type="submit" [disabled]="!searchForm.valid">Search<i class="fa fa-search"></i></button>
    </form>
  </div>
</div>
