<ng-template [ngIf]="(list$ | async)" let-list [ngIfElse]="inProgress">
  <mat-card>
    <mat-card-content>
      <div *ngFor="let item of list;trackBy: trackIndex" lib-item [item]="{content: item, model: entity}"></div>
    </mat-card-content>
    <mat-card-footer>
      <mat-card-actions>
        <button mat-button mat-raised-button (click)="paginate('previous')">Previous</button>
        <button mat-button mat-raised-button (click)="paginate('next')">Next</button>
      </mat-card-actions>
    </mat-card-footer>
  </mat-card>
</ng-template>
<ng-template #inProgress>
    In progress
</ng-template>
